#adminmenu,
#adminmenuback,
#adminmenuwrap {
  background: #2977B1;
}
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu,
#adminmenuback .wp-has-current-submenu .wp-submenu,
#adminmenuback .wp-has-current-submenu.opensub .wp-submenu,
#adminmenuback .wp-submenu,
#adminmenuback a.wp-has-current-submenu:focus + .wp-submenu,
#adminmenuwrap .wp-has-current-submenu .wp-submenu,
#adminmenuwrap .wp-has-current-submenu.opensub .wp-submenu,
#adminmenuwrap .wp-submenu,
#adminmenuwrap a.wp-has-current-submenu:focus + .wp-submenu {
  background: #E6BB1C;
}
#adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a,
#adminmenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenuback .wp-has-current-submenu .wp-submenu a,
#adminmenuback .wp-has-current-submenu.opensub .wp-submenu a,
#adminmenuback .wp-submenu a,
#adminmenuback a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenuwrap .wp-has-current-submenu .wp-submenu a,
#adminmenuwrap .wp-has-current-submenu.opensub .wp-submenu a,
#adminmenuwrap .wp-submenu a,
#adminmenuwrap a.wp-has-current-submenu:focus + .wp-submenu a {
  color: #000;
}
#adminmenu .wp-has-current-submenu .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenuback .wp-has-current-submenu .wp-submenu li.current a,
#adminmenuback .wp-has-current-submenu.opensub .wp-submenu li.current a,
#adminmenuback .wp-submenu li.current a,
#adminmenuback a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenuwrap .wp-has-current-submenu .wp-submenu li.current a,
#adminmenuwrap .wp-has-current-submenu.opensub .wp-submenu li.current a,
#adminmenuwrap .wp-submenu li.current a,
#adminmenuwrap a.wp-has-current-submenu:focus + .wp-submenu li.current a {
  color: #000;
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-group-container,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu .wp-submenu-group-container,
#adminmenu .wp-submenu .wp-submenu-group-container,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu .wp-submenu-group-container,
#adminmenuback .wp-has-current-submenu .wp-submenu .wp-submenu-group-container,
#adminmenuback .wp-has-current-submenu.opensub .wp-submenu .wp-submenu-group-container,
#adminmenuback .wp-submenu .wp-submenu-group-container,
#adminmenuback a.wp-has-current-submenu:focus + .wp-submenu .wp-submenu-group-container,
#adminmenuwrap .wp-has-current-submenu .wp-submenu .wp-submenu-group-container,
#adminmenuwrap .wp-has-current-submenu.opensub .wp-submenu .wp-submenu-group-container,
#adminmenuwrap .wp-submenu .wp-submenu-group-container,
#adminmenuwrap a.wp-has-current-submenu:focus + .wp-submenu .wp-submenu-group-container {
  background: #e1e1e1;
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-group-head,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu .wp-submenu-group-head,
#adminmenu .wp-submenu .wp-submenu-group-head,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu .wp-submenu-group-head,
#adminmenuback .wp-has-current-submenu .wp-submenu .wp-submenu-group-head,
#adminmenuback .wp-has-current-submenu.opensub .wp-submenu .wp-submenu-group-head,
#adminmenuback .wp-submenu .wp-submenu-group-head,
#adminmenuback a.wp-has-current-submenu:focus + .wp-submenu .wp-submenu-group-head,
#adminmenuwrap .wp-has-current-submenu .wp-submenu .wp-submenu-group-head,
#adminmenuwrap .wp-has-current-submenu.opensub .wp-submenu .wp-submenu-group-head,
#adminmenuwrap .wp-submenu .wp-submenu-group-head,
#adminmenuwrap a.wp-has-current-submenu:focus + .wp-submenu .wp-submenu-group-head {
  background: #F2D470;
  color: #000;
}
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu .folded #adminmenu li.current.menu-top,
#adminmenuback li.current a.menu-top,
#adminmenuback li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenuback li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenuback .folded #adminmenu li.current.menu-top,
#adminmenuwrap li.current a.menu-top,
#adminmenuwrap li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenuwrap li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenuwrap .folded #adminmenu li.current.menu-top {
  background: #90D7F6;
  color: #000;
}
#adminmenu .awaiting-mod,
#adminmenu .menu-counter,
#adminmenu .update-plugins,
#adminmenuback .awaiting-mod,
#adminmenuback .menu-counter,
#adminmenuback .update-plugins,
#adminmenuwrap .awaiting-mod,
#adminmenuwrap .menu-counter,
#adminmenuwrap .update-plugins {
  background: #DA251C;
}

#adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover, #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover {
  color: #DA251C;
}

#adminmenu .wp-submenu li.wp-submenu-group-item-current {
  background: #f1f1f1;
}

#adminmenu .wp-submenu .wp-submenu-group-sub-container, #adminmenu .wp-not-current-submenu .wp-submenu .wp-submenu-group-sub-container, .folded #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-group-sub-container {
  background: #e1e1e1;
  color: #ccc;
}

#adminmenu .wp-not-current-submenu .wp-submenu li.wp-submenu-group-head > a, .folded #adminmenu .wp-has-current-submenu .wp-submenu li.wp-submenu-group-head > a {
  color: #000;
}/*# sourceMappingURL=pmi_admin.css.map */