#adminmenu,
#adminmenuback,
#adminmenuwrap
    background: #2977B1

    .wp-has-current-submenu .wp-submenu, 
    .wp-has-current-submenu.opensub .wp-submenu, 
    .wp-submenu,
    a.wp-has-current-submenu:focus+.wp-submenu
        background: #E6BB1C
        a
            color: #000
        li.current
            a
                color: #000
        .wp-submenu-group-container
            background: #e1e1e1
        .wp-submenu-group-head
            background: #F2D470
            color: #000
          
    li.current a.menu-top,
    li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
    li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top
        background: #90D7F6
        color: #000

    .awaiting-mod, 
    .menu-counter, 
    .update-plugins
        background: #DA251C

#adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover, #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover
    color: #DA251C

#adminmenu .wp-submenu li.wp-submenu-group-item-current
    background: #f1f1f1

#adminmenu .wp-submenu .wp-submenu-group-sub-container, #adminmenu .wp-not-current-submenu .wp-submenu .wp-submenu-group-sub-container, .folded #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-group-sub-container
    background: #e1e1e1
    color: #ccc

#adminmenu .wp-not-current-submenu .wp-submenu li.wp-submenu-group-head>a, .folded #adminmenu .wp-has-current-submenu .wp-submenu li.wp-submenu-group-head>a
    color: #000