body.login
    background-color: #2977B1
    #nav a,
    #backtoblog a
            color: #FFF

    h1
        a
            background-image: url('../img/brasao-login.webp')
            background-size: 100%
            width: 256px
            height: 84px